<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .not-found {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        h1 {
            font-size: 200px;
        }
        p {
            font-size: 50px;
        }
    </style>
</head>
<body>
    <div class="not-found">
        <h1>403</h1>
        <p>Not Permistion</p>
    </div>
</body>
</html>